<%= simple_form_for([notable, note]) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :valid_until, html5: true, wrapper: :horizontal_date
       %>
    <%= form.input :type, as: :hidden
       %>
    <%= form.input :message, as: :rich_text_area
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
