<%= simple_form_for([notable, note]) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :type, as: :hidden
       %>
    <% if note.subject.present? %>
      <%= form.input :mail_to, disabled: note.persisted? %>
      <%= form.input :subject, disabled: note.persisted? %>
    <% end %>
    <%= form.input :message, as: :rich_text_area, disabled: note.persisted?
       %>
    <%= form.input :valid_until, html5: true, wrapper: :horizontal_datetime
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
