<div id="<%= dom_id note %>"
     class="sidecard <%= ('postit' if (note.created_at > 1.day.before(Time.current))) %>"
>

  <div class="">
    <%= link_to note.notable, note.notable,
        class: 'primary-link', "data-turbo-frame": '_top' %>
  </div>

  <div>
    <%= truncate(note.message.to_plain_text, length: 80) %>
  </div>

  <div class="d-flex justify-content-xl-between">
    <div class="text-black-50">
      <%= note.user.shortname %>
    </div>

    <div class="text-black-50 text-end">
      <%= render IsCurrentComponent.new(item: note, attr: :created_at,
                                        relative: true, icon: false )%>
    </div>
  </div>

</div>
