<div id="<%= dom_id note %>">
  <p>
    <strong>Notable:</strong>
    <%= note.notable_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= note.user_id %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= note.valid_until %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= note.type %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= note.message %>
  </p>

</div>
