<%= turbo_stream_from note %>
<div id="<%= dom_id note %>"
     class="sidecard <%= ('postit' if (note.created_at > 4.weeks.before(Time.current))) %>"
>

  <div class="">
    <% if note.type == 'acknowledge' %>
      <%= link_to polymorphic_path([note.notable, note]), 
          class: 'primary-link', data: {"turbo-frame": "modal"} do %>
        <i class="fa-solid fa-person-digging" title="Acknowledge"></i>
      <% end %>
    <% else %>
      <%= link_to polymorphic_path([note.notable, note]), 
                  class: 'primary-link', 
                  data: {"turbo-frame": "modal"} do %>
        <i class="fa-solid fa-clipboard" title="Notiz"></i>
      <% end %>
    <% end %>
    <%= link_to note.notable, note.notable,
        class: 'primary-link', "data-turbo-frame": '_top' %>
  </div>

  <div>
    <%= truncate(note.message.to_plain_text, length: 200) %>
  </div>

  <div class="d-flex justify-content-xl-between">
    <div class="text-black-50">
      <%= note.user.shortname %>
    </div>

    <div class="text-black-50 text-end">
      <%= render IsCurrentComponent.new(item: note, attr: :created_at,
                                        relative: true, icon: false )%>
      &nbsp;
      <% if note.user == current_user %>
        <%= link_to edit_polymorphic_path([note.notable, note]),
                    class: 'primary-link', 
                    data: {"turbo-frame": "modal"} do %>
          <i class="fa-solid fa-pencil" title="Edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
