<tr>
  <th class="w-25 pe-3"><%= t('attributes.ti_client')%>:</th>
  <td><%= link_to(kt_proxy.ti_client, kt_proxy.ti_client,
                  class: 'primary-link') if kt_proxy.ti_client.present? %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.uuid')%>:</th>
  <td><%= kt_proxy.uuid %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
  <td><%= kt_proxy.name %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.wireguard_ip')%>:</th>
  <td><%= kt_proxy.wireguard_ip %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.incoming_ip')%>:</th>
  <td><%= kt_proxy.incoming_ip %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.incoming_port')%>:</th>
  <td><%= kt_proxy.incoming_port %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.outgoing_ip')%>:</th>
  <td><%= kt_proxy.outgoing_ip %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.outgoing_port')%>:</th>
  <td><%= kt_proxy.outgoing_port %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.card_terminal_ip')%>:</th>
  <td><%= kt_proxy.card_terminal_ip %></td>
</tr>

<tr>
  <th class="w-25 pe-3"><%= t('attributes.card_terminal_port')%>:</th>
  <td><%= kt_proxy.card_terminal_port %></td>
</tr>
