<div id="<%= dom_id kt_proxy %>">
  <p>
    <strong>Card terminal:</strong>
    <%= kt_proxy.card_terminal_id %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= kt_proxy.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= kt_proxy.name %>
  </p>

  <p>
    <strong>Wireguard ip:</strong>
    <%= kt_proxy.wireguard_ip %>
  </p>

  <p>
    <strong>Incoming ip:</strong>
    <%= kt_proxy.incoming_ip %>
  </p>

  <p>
    <strong>Incoming port:</strong>
    <%= kt_proxy.incoming_port %>
  </p>

  <p>
    <strong>Outgoing ip:</strong>
    <%= kt_proxy.outgoing_ip %>
  </p>

  <p>
    <strong>Outgoing port:</strong>
    <%= kt_proxy.outgoing_port %>
  </p>

  <p>
    <strong>Card terminal ip:</strong>
    <%= kt_proxy.card_terminal_ip %>
  </p>

  <p>
    <strong>Card terminal port:</strong>
    <%= kt_proxy.card_terminal_port %>
  </p>

</div>
