<table class="table table-sm table-borderless">
  <thead>
    <tr>
      <th></th>
      <th>Cocard</th>
      <th>RISE TI-Client</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="w-25 pe-3"><%= t('attributes.card_terminal')%>:</th>
      <td><%= link_to(kt_proxy.card_terminal,
                      kt_proxy.card_terminal,
                      class: 'primary-link') if kt_proxy.card_terminal.present?
           %></td>
      <td></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.ti_client')%>:</th>
      <td><%= link_to(kt_proxy.ti_client, kt_proxy.ti_client,
                      class: 'primary-link') if kt_proxy.ti_client.present? %></td>
      <td></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.uuid')%>:</th>
      <td><%= kt_proxy.uuid %></td>
      <td><%= rise['id'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
      <td><%= kt_proxy.name %></td>
      <td><%= rise['name'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.wireguard_ip')%>:</th>
      <td><%= kt_proxy.wireguard_ip %></td>
      <td><%= rise['wireguardIp'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.incoming_ip')%>:</th>
      <td><%= kt_proxy.incoming_ip %></td>
      <td><%= rise['incomingIp'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.incoming_port')%>:</th>
      <td><%= kt_proxy.incoming_port %></td>
      <td><%= rise['incomingPort'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.outgoing_ip')%>:</th>
      <td><%= kt_proxy.outgoing_ip %></td>
      <td><%= rise['outgoingIp'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.outgoing_port')%>:</th>
      <td><%= kt_proxy.outgoing_port %></td>
      <td><%= rise['outgoingPort'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.card_terminal_ip')%>:</th>
      <td><%= kt_proxy.card_terminal_ip %></td>
      <td><%= rise['cardTerminalIp'] %></td>
    </tr>

    <tr>
      <th class="w-25 pe-3"><%= t('attributes.card_terminal_port')%>:</th>
      <td><%= kt_proxy.card_terminal_port %></td>
      <td><%= rise['cardTerminalPort'] %></td>
    </tr>
  </tbody>
</table>
