<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.kt_proxy') %>: 
          #<%= @kt_proxy.id %>
        </span>
        <h4 class="title"><%= @kt_proxy %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@kt_proxy) %>
        <%= delete_link(@kt_proxy) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm table-borderless">
      <%= render partial: 'kt_proxy_table', 
                 locals: { kt_proxy: @kt_proxy, rise: @rise_proxy } %>
    </table>
  </div>
</div>

<%= back_link %>
<%= new_link KTProxy %>
