<div id="<%= dom_id client_certificate %>">
  <p>
    <strong>Name:</strong>
    <%= client_certificate.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client_certificate.description %>
  </p>

  <p>
    <strong>Cert:</strong>
    <%= client_certificate.cert %>
  </p>

  <p>
    <strong>Pkey:</strong>
    <%= client_certificate.pkey %>
  </p>

  <p>
    <strong>Passphrase:</strong>
    <%= client_certificate.passphrase %>
  </p>

</div>
