<%= simple_form_for(@client_certificate) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name
       %>
    <%= form.input :description, as: :rich_text_area
       %>
    <% unless  @client_certificate.persisted? %>
      <%= form.input :cert, input_html: { rows: 8 }
         %>
      <%= form.input :pkey, input_html: { rows: 8 }
         %>
      <%= form.input :passphrase, as: :password,
                     placeholder: '************'
         %>
    <% end %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
