<%= simple_form_for(@client_certificate, 
                    url: import_p12_client_certificates_path,
                    method: :post) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name
       %>
    <%= form.input :description, as: :rich_text_area
       %>
    <%= form.input :p12, as: :file
       %>
    <%= form.input :passphrase, as: :password,
                   placeholder: '************'
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
