<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.client_certificate') %>: 
          #<%= @client_certificate.id %>
        </span>
        <h4 class="title"><%= @client_certificate %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@client_certificate) %>
        <%= delete_link(@client_certificate) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <table class="table table-sm table-borderless">
        
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= @client_certificate.name %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.client_system')%>:</th>
            <td><%= @client_certificate.client_system %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @client_certificate.description %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.valid_until')%>:</th>
            <td><%= @client_certificate.valid_until&.localtime %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('controller.tags')%>:</th>
            <td>
              <%= render TagListComponent.new(item: @client_certificate) %>
            </td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('controller.connectors')%>:</th>
            <td>
              <%= @client_certificate.connectors.map do |c| 
                    link_to(c.name, connector_path(c), class: 'primary-link')
                  end.join("<br />").html_safe
               %>
            </td>
          </tr>

        </table>
      </div>
      <div class="col-lg-6">
        <pre>
<%= @client_certificate.to_text %>
        </pre>
      </div>
    </div>
  </div>
</div>
<%= back_link %>
<%= link_to raw( '<span class="fa-solid fa-fw fa-upload" aria-hidden="true"></span> ' +
                 t('cocard.import_client_certificate')), 
            main_app.import_p12_client_certificate_path, class: "btn btn-secondary me-1" %>
<%= link_to raw( '<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                 t('cocard.new_client_certificate')),
            main_app.new_client_certificate_path, class: "btn btn-secondary me-1" %>

