<% if as_text %>
  <span class="badge text-bg-<%= color %> position-relative"><%= text %>
    <%= cert_badge %>
  </span>
<% else %>
  <button type="button" class="position-relative <%= size %> <%= btn %>-<%= color %>" 
          title="<%= item.condition_message %>">
      <i class="<%= icon %>"></i>
      <%= cert_badge %>
  </button>
<% end %>

<% if outdated? %>
  <span title="Daten sind veraltet, keine aktuelle Information verfügbar">
    <%= Cocard::States::flag(Cocard::States::WARNING) %>
  </span>
<% end %>
