<button type="button" class="<%= button_class %>" 
        title="<%= item.condition_message %>">
  <% if as_text %>
    <small><%= text %></small>
  <% else %>
    <i class="<%= icon %>"></i>
  <% end %>
</button>

<% if outdated? %>
  <span title="Data may be outdated, no recent updates">
    <%= Cocard::States::flag(Cocard::States::WARNING) %>
  </span>
<% end %>
