<% if as_text %>
  <span class="badge text-bg-<%= color %>"><%= text %></span>
<% else %>
  <button type="button" class="<%= size %> <%= btn %>-<%= color %>" 
          title="<%= item.condition_message %>">
      <i class="<%= icon %>"></i>
  </button>
<% end %>

<% if outdated? %>
  <span title="Data may be outdated, no recent updates">
    <%= Cocard::States::flag(Cocard::States::WARNING) %>
  </span>
<% end %>
