<%= link_to ti_client_path(ti_client), class: 'list-group-item list-group-item-action' do %>
  <div>
    <span class="subtitle">
      <%= t('activerecord.models.ti_client') %>:
      #<%= ti_client.id %>
    </span>
  </div>
  <div  class="row">
    <div class="col-3"><%= ti_client.name %></div>
    <div class="col"><%= ti_client.url %></div>
  </div>
  <div>
    <%= render TagListComponent.new(item: ti_client) %>
  </div>
<% end %>

