<%= render 'shared/turbo-cache-control' %>
<%= turbo_frame_tag('ticlient_terminals') do %>
  <%= render partial: 'shared/flash_alert' %>
  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="me-4 pt-1"><%= t('controller.ti_clients/terminals')%></h4>
        </div>
        <div role="toolbar" class="pt-0">
          <%= link_to t('activerecord.models.ti_client'),
                      ti_client_path(@ti_client),
                      class: 'btn btn-outline-secondary btn-sm',
                      data: { "turbo-frame": "_top" }
           %>
          <%= link_to raw(%Q[<i class="fas fa-table"></i>]),
                      ti_client_terminals_path(@ti_client),
                      class: 'btn btn-outline-secondary btn-sm',
                      data: { "turbo-frame": "_top" }
          %>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div data-controller="datatables">
        <%= content_tag :table, role: :datatable,
              id: "konnektor_terminals_table",
              class: "table table-sm table-responsive-xl",
              data: {
                'datatables-target': 'datatable',
                order: [[0, 'asc']].to_json
              } do %>
          <thead>
            <tr>
              <th class="bg-info-subtle"><%= t('attributes.card_terminal') %></th>
              <th class="text-start bg-info-subtle"><%= t('attributes.condition') %></th>
              <th class="bg-info-subtle"><%= t('attributes.last_ok') %></th>
              <th class="bg-success-subtle"><%= t('attributes.name') %></th>
              <th class="bg-success-subtle"><%= t('attributes.ct_id') %></th>
              <th class="bg-success-subtle"><%= t('attributes.mac') %></th>
              <th class="text-center bg-success-subtle"><%= t('attributes.port') %></th>
              <th class="bg-success-subtle"><%= t('attributes.correlation') %></th>
              <th class="bg-success-subtle"><%= t('attributes.connected') %></th>
            </tr>
          </thead>
          <tfoot class="search">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <% @terminals.each do |terminal| %>
              <tr>
                <td>
                  <%= render LinkToComponent.new(item: terminal.card_terminal,
                                                 label_method: :name) %>
                </td>
                <td>
                  <%= render ConditionIconComponent.new(item: terminal.card_terminal, 
                                                        as_text: true) %>
                </td>
                <td>
                  <%= render IsCurrentComponent.new(item: terminal.card_terminal, 
                                                    attr: :last_ok, relative: true) %>
                </td>
                <td><%= terminal.name %></td>
                <td><%= terminal.ct_id %></td>
                <td><%= terminal.mac %></td>
                <td class="text-center"><%= terminal.tcp_port %></td>
                <td><%= terminal.correlation %></td>
                <td><%= render BooleanComponent.new(value: terminal.connected) %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </div>
      <table class="table table-unstriped table-sm w-auto">
        <tbody>
          <tr><td class="bg-info-subtle">Daten aus Cocard</td></tr>
          <tr><td class="bg-success-subtle">Daten vom Konnektor</td></tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
