<div id="<%= dom_id context %>"
     class="list-group-item " >
  <div class="row">
    <div class="col handle pt-1">
      <%= link_to context.to_s, context, class: 'primary-link' %>
    </div>
    <% if card.card_type == 'SMC-B' %>
      <div class="col-sm-3 text-muted text-end">
        <% if can? :manage, card %>
          <%= render Card::VerifyPinComponent.new(card: card, context: context) %>
          <%= render Card::GetCardButtonComponent.new(card: card, context: context, force: true) %>
        <% end %>
        <%= render Card::GetPinStatusComponent.new(card: card, context: context) %>
      </div>
    <% end %>
  </div>
</div>
