<div id="<%= dom_id context %>"
     class="list-group-item " >
  <div class="row">
    <div class="col-12 col-lg-8 handle pt-1">
      <%= link_to context.to_s, context, class: 'primary-link' %>
      <%= render Card::ContextAuthenticationComponent.new(card: card, context: context) %>
    </div>
    <% if card.card_type == 'SMC-B' %>
      <div class="col-12 col-lg-4 text-muted text-end">
        <% if can? :verify_pin, card %>
          <%= render Card::VerifyPinComponent.new(card: card, context: context) %>
        <% end %>
        <% if can? :get_card, card %>
          <%= render Card::GetCardButtonComponent.new(card: card, context: context, force: true) %>
        <% end %>
        <% if can? :get_pin_status, card %>
          <%= render Card::GetPinStatusComponent.new(card: card, context: context) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
