<%= render ModalComponent.new(title: "#{t(@note.type, scope: :notes)} vom #{@note.created_at.to_date}") do %>

  <table class="table table-sm table-borderless">
  
    <% if @note.with_mail %>
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.mail_to')%>:</th>
        <td><%= @note.mail_to %></td>
      </tr>
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.subject')%>:</th>
        <td><%= @note.subject %></td>
      </tr>
    <% else %>
      <tr>
        <th class="w-10 pe-3">
          <%= t('activerecord.models.' + @note.notable.class&.name&.to_s.underscore )%>:
        </th>
        <td><%= @note.notable %></td>
      </tr>
    <% end %>

    <tr>
      <th class="w-10 pe-3"><%= t('attributes.message')%>:</th>
      <td><%= @note.message %></td>
    </tr>

    <tr>
      <th class="w-10 pe-3"><%= t('attributes.user')%>:</th>
      <td><%= @note.user %></td>
    </tr>

    <tr>
      <th class="w-10 pe-3"><%= t('attributes.valid_until')%>:</th>
      <td><%= @note.valid_until %></td>
    </tr>

    <tr>
      <th class="w-10 pe-3"><%= t('attributes.type')%>:</th>
      <td><%= @note.type %></td>
    </tr>

  </table>

<% end %>
