<% if can? :navigate, :cards %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= active_class('cards') %>"
       href="#" id="navbarCardDropdown" data-bs-toggle="dropdown" 
       aria-haspopup="true" aria-expanded="false">

      <%= t('controller.cards') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarCardDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.cards')), main_app.cards_path, class: "dropdown-item" %>
      <%= link_to raw('<span class="fa-solid fa-person-digging" aria-hidden="true"></span> ' +
            t('controller.cards')), main_app.cards_path(acknowledged: true), 
            class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('cards.expired')), main_app.cards_path(expired: true), 
            class: "dropdown-item" %>
      <%= link_to raw( '<span class="fa-solid fa-fw fa-triangle-exclamation" aria-hidden="true"></span> ' +
            t('cards.expired_in_use')), main_app.cards_path(expired: true, operational: true, outdated: false),
            class: "dropdown-item" %>
      <%= link_to raw( '<span class="fa-solid fa-fw fa-trash" aria-hidden="true"></span> ' +
            t('cards.expired_and_outdated')), main_app.cards_path(expired: true, outdated:true), 
            class: "dropdown-item" %>
      <% if @current_user&.is_admin? %>
      <div class="dropdown-divider"></div>
      <%= link_to raw( '<span class="fa-solid fa-fw fa-rotate-right" aria-hidden="true"></span> ' +
            t('controller.verify_pins')), main_app.verify_pins_path, class: "dropdown-item" %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            'SMC-B'), main_app.cards_path(card_type: 'SMC-B'), class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            'SMC-KT'), main_app.cards_path(card_type: 'SMC-KT'), class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            'HBA'), main_app.cards_path(card_type: 'HBA'), class: "dropdown-item" %>

      <% if can? :create, Card %>
        <div class="dropdown-divider"></div>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('cocard.new_card')),
              main_app.new_card_path,
              class: "dropdown-item" %>
      <% end %>

    </div>
  </li>
<% end %>


