<% if can? :navigate, :card_terminals %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= active_class('card_terminals') %>"
       href="#" id="navbarCardTerminalDropdown" data-bs-toggle="dropdown" 
       aria-haspopup="true" aria-expanded="false">

      <%= t('controller.card_terminals') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarCardTerminalDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.card_terminals')),
          main_app.card_terminals_path, class: "dropdown-item" %>
      <%= link_to raw( '<span class="fa-solid fa-person-digging" aria-hidden="true"></span> ' +
            t('controller.card_terminals')),
          main_app.card_terminals_path(acknowledged: true), class: "dropdown-item" %>
      <% if can? :create, CardTerminal %>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('cocard.new_card_terminal')),
              main_app.new_card_terminal_path,
              class: "dropdown-item" %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('card_terminals.with_smcb')),
          main_app.card_terminals_path(with_smcb: 1), class: "dropdown-item" %>
    </div>
  </li>
<% end %>


