<% if can? :navigate, :events %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= active_class('logs') %>"
       href="#" id="navbarEventsDropdown" data-bs-toggle="dropdown" 
       aria-haspopup="true" aria-expanded="false">

      <%= t('controller.events') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarEventsDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('cocard.current_logs')), 
                  main_app.logs_path(valid: true), class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
                       t('controller.logs')), 
                  main_app.logs_path, class: "dropdown-item" %>
      <%= link_to raw(Cocard::States.flag(Cocard::States::WARNING) + ' Veraltete Logs'),
                  main_app.logs_path(outdated: true), class: "dropdown-item" %>
    </div>

  </li>
<% end %>


