<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::OK,
                  count: CardTerminal.ok.current.count,
                  link:  sindex_card_terminals_path(condition: Cocard::States::OK),
                  myframe: 'card_terminals') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::WARNING,
                  count: CardTerminal.warning.current.count,
                  link:  sindex_card_terminals_path(condition: Cocard::States::WARNING),
                  myframe: 'card_terminals') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::CRITICAL,
                  count: CardTerminal.critical.current.count,
                  link:  sindex_card_terminals_path(condition: Cocard::States::CRITICAL),
                  myframe: 'card_terminals') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::UNKNOWN,
                  count: CardTerminal.unknown.current.count,
                  link:  sindex_card_terminals_path(condition: Cocard::States::UNKNOWN),
                  myframe: 'card_terminals') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::NOTHING,
                  count: CardTerminal.nothing.current.count,
                  link:  sindex_card_terminals_path(condition: Cocard::States::NOTHING),
                  myframe: 'card_terminals') %>
</div>
<div class="me-2">
  <%= link_to sindex_card_terminals_path(acknowledged: 'true'),
              class: 'btn btn-outline-secondary',
              "data-turbo-frame": 'card_terminals' do %>
    <i class="fa-solid fa-person-digging"></i>
    <span class="badge text-bg-secondary">
      <%= CardTerminal.acknowledged.count %>
    </span>
  <% end %>
</div>

