<div id="failed_card_terminals">
 <% if card_terminals.size > 0 %>
  <%= content_tag :table,
        id: "card_terminals_table",
        class: "table tablesm mb-0" do %>
    <thead>
      <tr class="">
            <th class="text-center"><%= t('attributes.condition') %></th>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.condition_message') %></th>
            <th class="text-center"><%= t('attributes.last_check') %></th>
            <th class="text-center"><%= t('attributes.last_check_ok') %></th>
      </tr>
    </thead>
    <tbody>
      <% card_terminals.each do |card_terminal| %>
        <%= content_tag(:tr, id: dom_id(card_terminal), class: dom_class(card_terminal)) do %>
          <td class="text-center">
            <%= render ConditionIconComponent.new(item: card_terminal, small: true) %>
          </td>
          <td><%= link_to(
                    card_terminal.name, 
                    card_terminal_path(card_terminal), 
                    class: "primary-link") %></td>
          <td><%= card_terminal.condition_message %></td>
          <td><%= card_terminal.last_check&.localtime %></td>
          <td><%= card_terminal.last_check_ok&.localtime %></td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
 <% end %>
</div>
