<div class="me-2">
  <%= render ConditionBadgeComponent.new(state: Cocard::States::OK,
                                         count: Connector.ok.count,
                                         link:  sindex_connectors_path(filter: 'OK'),
                                         myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent.new(state: Cocard::States::WARNING,
                                         count: Connector.warning.count,
                                         link:  sindex_connectors_path(filter: 'WARNING'),
                                         myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent.new(state: Cocard::States::CRITICAL,
                                         count: Connector.critical.count,
                                         link:  sindex_connectors_path(filter: 'CRITICAL'),
                                         myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent.new(state: Cocard::States::UNKNOWN,
                                         count: Connector.unknown.count,
                                         link:  sindex_connectors_path(filter: 'UNKNOWN'),
                                         myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent.new(state: Cocard::States::NOTHING,
                                         count: Connector.nothing.count,
                                         link:  sindex_connectors_path(filter: 'NOTHING'),
                                         myframe: 'connectors') %>
</div>
