<div id="failed_connectors">
 <% if connectors.size > 0 %>
  <%= content_tag :table,
        id: "connectors_table",
        class: "table tablesm mb-0" do %>
    <thead>
      <tr class="">
            <th><%= t('attributes.condition') %></th>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.condition_message') %></th>
            <th class="text-center"><%= t('attributes.last_check') %></th>
            <th class="text-center"><%= t('attributes.last_check_ok') %></th>
      </tr>
    </thead>
    <tbody>
      <% connectors.each do |connector| %>
        <%= content_tag(:tr, id: dom_id(connector), class: dom_class(connector)) do %>
          <td> <%= render ConditionIconComponent.new(item: connector) %> </td>
          <td><%= link_to(
                    connector.name, 
                    connector_path(connector), 
                    class: "primary-link") %></td>
          <td><%= connector.condition_message %></td>
          <td><%= connector.last_check&.localtime %></td>
          <td><%= connector.last_check_ok&.localtime %></td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
 <% end %>
</div>
