<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::OK,
                  count: Connector.ok.count,
                  link:  sindex_connectors_path(condition: Cocard::States::OK),
                  myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::WARNING,
                  count: Connector.warning.count,
                  link:  sindex_connectors_path(condition: Cocard::States::WARNING),
                  myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::CRITICAL,
                  count: Connector.critical.count,
                  link:  sindex_connectors_path(condition: Cocard::States::CRITICAL),
                  myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::UNKNOWN,
                  count: Connector.unknown.count,
                  link:  sindex_connectors_path(condition: Cocard::States::UNKNOWN),
                  myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= render ConditionBadgeComponent
             .new(state: Cocard::States::NOTHING,
                  count: Connector.nothing.count,
                  link:  sindex_connectors_path(condition: Cocard::States::NOTHING),
                  myframe: 'connectors') %>
</div>
<div class="me-2">
  <%= link_to sindex_connectors_path(acknowledged: 'true'),
              class: 'btn btn-outline-secondary',
              "data-turbo-frame": 'connectors' do %>
    <i class="fa-solid fa-person-digging"></i>
    <span class="badge text-bg-secondary">
      <%= Connector.acknowledged.count %>
    </span>
  <% end %>
</div>
