<%= turbo_stream_from :home %>
<%= turbo_stream_from :notes %>

<% if @current_user.present? %>
  <div class="container-fluid">
    <div class="row">
      <% unless Note.object_notes.active.current.count > 0 %>
        <div class="col-xl"></div>
      <% end %>
      <div class="col-xl-10">
        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-xs-5 col-md-4 col-ml-3">
              <h4 class="me-4 pt-1">Connector Status</h4>
              </div>
              <div class="d-flex col-xs-7 col-md-8 col-ml-9">
                <%= render 'connector_states' %>
              </div>
            </div>
          </div>
          <div>
            <%= turbo_frame_tag("connectors", src: sindex_connectors_path, refresh: "morph") %>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <div class="row">
              <div class="col-xs-5 col-md-4 col-ml-3">
                <h4 class="me-4 pt-1">Card Status</h4>
              </div>
              <div class="d-flex col-xs-7 col-md-8 col-ml-9">
                <%= render 'card_states' %>
                <% if can? :verify, VerifyPin %>
                  <div class="ms-auto">
                    <%= link_to t('controller.verify_pins'), verify_pins_path,
                                class: 'btn btn-outline-secondary' ,
                                data: { 'turbo-frame' => '_top' }
                     %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div>
            <%= turbo_frame_tag("cards", src: sindex_cards_path, refresh: "morph") %>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <div class="row">
              <div class="col-xs-5 col-md-4 col-ml-3">
                <h4 class="me-4 pt-1">Event Log</h4>
              </div>
              <div class="d-flex col-xs-7 col-md-8 col-ml-9">
                <%= render 'log_types' %>
              </div>
            </div>
          </div>
          <div>
            <%= turbo_frame_tag("logs", src: sindex_logs_path, refresh: "morph") %>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <div class="row">
              <div class="col-xs-5 col-md-4 col-ml-3">
                <h4 class="me-4 pt-1">Card Terminal Status</h4>
              </div>
              <div class="d-flex col-xs-7 col-md-8 col-ml-9">
                <%= render 'card_terminal_states' %>
              </div>
            </div>
          </div>
          <div>
            <%= turbo_frame_tag("card_terminals", src: sindex_card_terminals_path, refresh: "morph") %>
          </div>
        </div>
      </div>
      <div class="col-xl">
        <div class="mb-3">
          <%= turbo_frame_tag("notes", src: sindex_notes_path, refresh: "morph") %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>
   Sie sind nicht eingeloggt.
   <%= link_to "Bitte loggen Sie sich ein", wobauth.new_user_session_path %>
  </p>
<% end %>
