<%= link_to card_terminal_path(card_terminal), class: 'list-group-item list-group-item-action' do %>
  <div>
    <span class="subtitle">
      <%= t('activerecord.models.card_terminal') %>:
      #<%= card_terminal.id %>
    </span>
  </div>
  <div  class="row">
    <div class="col-3"><%= card_terminal.displayname %></div>
    <div class="col-2"><%= card_terminal.ct_id %></div>
    <div class="col-2"><%= card_terminal.mac %></div>
    <div class="col-2"><%= card_terminal.ip %></div>
    <div class="col-2"><%= card_terminal.condition_message %></div>
    <div class="col-1"><%= card_terminal.location&.lid %></div>
  </div>
<% end %>
