<%= simple_form_for(@card_terminal) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :displayname, 
                    disabled: !can?(:update, @card_terminal, :displayname)
       %>
    <%= form.association :location,
                    disabled: !can?(:update, @card_terminal, :location)
       %>
    <%= form.input :room,
                    disabled: !can?(:update, @card_terminal, :room)
       %>
    <%= form.input :contact,
                    disabled: !can?(:update, @card_terminal, :contact)
       %>
    <%= form.input :plugged_in,
                    disabled: !can?(:update, @card_terminal, :plugged_in)
       %>
    <%= form.input :delivery_date, as: :string, wrapper: :horizontal_date,
                    disabled: !can?(:update, @card_terminal, :delivery_date)
       %>
    <%= form.input :supplier,
                    disabled: !can?(:update, @card_terminal, :supplier)
       %>
    <%= form.input :serial,
                    disabled: !can?(:update, @card_terminal, :serial)
       %>
    <%= form.input :id_product,
                    disabled: !can?(:update, @card_terminal, :id_product)
       %>

    <% if can? :manage, @card_terminal %>
      <%= form.input :description, as: :rich_text_area
       %>

      <div class="alert alert-warning" role="alert">
        <%= t('cocard.new_card_terminal_manual_warning') %>
      </div>
    <% end %>

    <%= form.input :mac, as: :string, 
          input_html: { value: @card_terminal.rawmac },
          disabled: !can?(:update, @card_terminal, :mac)
     %>
    <% if can? :manage, @card_terminal %>
      <%= form.input :ip, as: :string
         %>
      <%= form.input :slots
         %>
      <%= form.association :connector
         %>
    <% end %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
