<div class="card mb-3" id="<%= dom_id(card_terminal) %>">
  <div class="card-header">
    <div class="d-flex w-100">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.card_terminal') %>: 
          #<%= card_terminal.id %>
        </span>
        <h4 class="title"><%= card_terminal %></h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: card_terminal) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= render RebootButtonComponent.new(item: card_terminal) if (can? :reboot, card_terminal) %>
        <%= render AcknowledgeButtonComponent.new(
                     notable: card_terminal, small: false,
                     readonly: cannot?(:manage, card_terminal)
                   )
         %>
        <%= edit_link(card_terminal) %>
        <%= delete_link(card_terminal) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-6">
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connector')%>:</th>
            <td>
              <%= render ConditionIconComponent.new(
                           item: card_terminal.connector,
                           small: true) %>
              <%= render LinkToComponent.new(item: card_terminal.connector) %>
            </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.displayname')%>:</th>
            <td><%= card_terminal.displayname %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.idle_message')%>:</th>
            <%= render partial: 'idle_message', locals: {card_terminal: card_terminal} %>
            </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.location')%>:</th>
            <td>
              <%= render LinkToComponent.new(item: card_terminal.location) %>
            </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ip')%>:</th>
            <td><%= card_terminal.ip %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.room')%>:</th>
            <td><%= card_terminal.room %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.plugged_in')%>:</th>
            <td><%= card_terminal.plugged_in %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.contact')%>:</th>
            <td><%= card_terminal.contact %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.delivery_date')%>:</th>
            <td><%= card_terminal.delivery_date %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.supplier')%>:</th>
            <td><%= card_terminal.supplier %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.serial')%>:</th>
            <td><%= card_terminal.serial %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.id_product')%>:</th>
            <td><%= card_terminal.id_product %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= card_terminal.description %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.pin_mode')%>:</th>
            <td><%= t(card_terminal.pin_mode, scope: 'pin_modes') %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3">SMC-KT <%= t('attributes.iccsn')%>:</th>
            <td><%= link_to(card_terminal.smckt&.iccsn,
                            card_path(card_terminal.smckt),
                            class: 'primary-link') if card_terminal.smckt %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3">SMC-KT <%= t('attributes.expiration_date')%>:</th>
            <td><%= render Card::ExpirationDateComponent.new(card: card_terminal.smckt) %></td>
          </tr>
        </table>

        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('attributes.status')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connected')%>:</th>
            <td><%= render CardTerminal::ConnectedComponent.new(card_terminal: card_terminal) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= card_terminal.condition_message %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.updated_at')%>:</th>
            <td><%= render UpdatedAtComponent.new(item: card_terminal) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_ok')%>:</th>
            <td>
              <%= render IsCurrentComponent.new(item: card_terminal, attr: :last_ok) %>
              <% if can? :update, card_terminal %>
                <%= button_to "Reset", card_terminal,
                      method: 'patch',
                      class: 'btn btn-sm btn-warning ms-3',
                      params: {card_terminal: { last_ok: ''}}
                 %>
              <% end %>
            </td>
          </tr>
        </table>

      </div>
      <div class="col-12 col-lg-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.card_terminal_data')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connector')%>:</th>
            <td><%= card_terminal.connector %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= card_terminal.name %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ct_id')%>:</th>
            <td><%= card_terminal.ct_id %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.mac')%>:</th>
            <td><%= card_terminal.mac %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.current_ip')%>:</th>
            <td>
              <%= card_terminal.current_ip || "n/a" %>
              <%= render WarnIpMismatchComponent.new(item: card_terminal) %>
              <%= render UseCurrentIpComponent.new(item: card_terminal) if can? :manage, card_terminal %>
            </td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.network')%>:</th>
            <td><%= card_terminal.network %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.slots')%>:</th>
            <td><%= card_terminal.slots %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.firmware_version')%>:</th>
            <td><%= card_terminal.firmware_version %></td>
          </tr>

        </table>

        <div class="card-title border-bottom bg-light mt-2 pt-2 ps-2">
          <h6><%= t('attributes.product_information')%></h6>
        </div>
        <pre>
<%= card_terminal.product_information&.to_s %>
        </pre>
      </div>
    </div>
    <% if card_terminal.is_accessible? %>
      <div data-turbo-permanent>
        <%= turbo_frame_tag "card_terminal_#{card_terminal.id}_ping",
                            src: ping_card_terminal_path(card_terminal),
                            refresh: "morph" do %>
          <%= image_tag 'process-working.png' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
