<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.card_terminals') %></h1>

<div id="card_terminals">
  <div data-controller="datatables"
       data-datatables-url-value="<%= card_terminals_path((@filter|| {}).merge(format: :json))%>">
    <%= content_tag :table, role: :datatable,
          id: "card_terminals_table",
          class: "table table-bordered table-responsive",
          data: {
            order: [[0, 'asc']].to_json
          } do %>
      <thead>
        <tr>
              <th class="text-center"><%= t('attributes.condition') %></th>
              <th class="notvisible"><%= t('attributes.condition_message') %></th>
              <th><%= t('attributes.displayname') %></th>
              <th><%= t('attributes.ct_id') %></th>
              <th><%= t('attributes.connector') %></th>
              <th class="notvisible"><%= t('attributes.name') %></th>
              <th><%= t('attributes.mac') %></th>
              <th><%= t('attributes.ip') %></th>
              <th><%= t('attributes.connected') %></th>
              <th><%= t('attributes.location') %></th>
              <th class="nosort"><%= t('controller.tags') %></th>
              <th><%= t('attributes.room') %></th>
              <th><%= t('attributes.plugged_in') %></th>
              <th><%= t('attributes.contact') %></th>
              <th class="notvisible"><%= t('attributes.idle_message') %></th>
              <th class="notvisible"><%= t('attributes.delivery_date') %></th>
              <th class="notvisible"><%= t('attributes.supplier') %></th>
              <th class="notvisible"><%= t('attributes.serial') %></th>
              <th class="notvisible"><%= t('attributes.id_product') %></th>
              <th><%= t('attributes.firmware_version') %></th>
              <th class="nosort notvisible"><%= t('attributes.description') %></th>
              <th class="notvisible"><%= t('attributes.pin_mode') %></th>
              <th class="nosort notvisible">SMC-KT <%= t('attributes.iccsn') %></th>
              <th class="nosort notvisible">SMC-KT <%= t('attributes.expiration_date') %></th>
              <th><%= t('attributes.last_check') %></th>
              <th><%= t('attributes.last_ok') %></th>
              <th class="nosort"><%= t('cocard.action') %></th>
        </tr>
      </thead>
      <tfoot class="search">
        <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="nosearch"></th>
        </tr>
      </tfoot>
      <tbody>
      </tbody>
    <% end %>
  </div>
</div>

<br />

<%= back_link %>
