<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.card_terminals') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "card_terminals_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.displayname') %></th>
            <th><%= t('attributes.location') %></th>
            <th class="nosort"><%= t('mirco.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @card_terminals.each do |card_terminal| %>
        <%= content_tag(:tr, id: dom_id(card_terminal), class: dom_class(card_terminal)) do %>
                <td><%= card_terminal.displayname %></td>
                <td><%= card_terminal.location %></td>
                <td class="text-nowrap">
            <%= show_link card_terminal %>
            <%= edit_link card_terminal %>
            <%= delete_link card_terminal %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
