<%= render 'shared/turbo-cache-control' %>

<%= turbo_stream_from @card_terminal %>

<%= turbo_frame_tag @card_terminal do %>
  <%= render partial: 'show', locals: { card_terminal: @card_terminal } %>
<% end %>

<%= back_link %>

<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.cards') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2">
    <%= render 'cards', cards: @card_terminal.cards.order(:slotid) %>
  </div>
</div>

<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.workplaces') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2">
    <%= render 'terminal_workplaces', terminal_workplaces: @card_terminal.terminal_workplaces %>
  </div>
</div>

<%= turbo_frame_tag("logs", src: card_terminal_logs_path(@card_terminal, valid: 1),
                            refresh: "morph") %>

<%= turbo_frame_tag("notes", src: polymorphic_path([@card_terminal, :notes], active: 1),
                             refresh: "morph") %>

