<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.card_terminal') %>: 
          #<%= @card_terminal.id %>
        </span>
        <h4 class="title"><%= @card_terminal %></h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: @card_terminal) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= edit_link(@card_terminal) %>
        <%= delete_link(@card_terminal) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.displayname')%>:</th>
            <td><%= @card_terminal.displayname %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.location')%>:</th>
            <td><%= @card_terminal.location %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= @card_terminal.name %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.ct_id')%>:</th>
            <td><%= @card_terminal.ct_id %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.mac')%>:</th>
            <td><%= @card_terminal.mac %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.ip')%>:</th>
            <td><%= @card_terminal.ip %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.slots')%>:</th>
            <td><%= @card_terminal.slots %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.connected')%>:</th>
            <td><%= @card_terminal.connected %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= @card_terminal.condition_message %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.connector')%>:</th>
            <td><%= @card_terminal.connector %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @card_terminal.description %></td>
          </tr>
        </table>
      </div>
      <div class="col-6">
        <b>ProductInformation:</b>
        <pre>
<%= @card_terminal.product_information&.to_s %>
        </pre>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag "card_terminal_#{@card_terminal.id}_ping",
                          src: ping_card_terminal_path(@card_terminal) do %>
        <%= image_tag 'process-working.png' %>
      <% end %>
    </div>
  </div>
</div>

<%= back_link %>
