<%= render 'shared/turbo-cache-control' %>

<%= turbo_stream_from @card_terminal %>
<%= turbo_stream_from @card_terminal.connector if @card_terminal.connector.present? %>

<div class="card mb-3" id="<%= dom_id(@card_terminal) %>">
  <div class="card-header">
    <div class="d-flex w-100">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.card_terminal') %>: 
          #<%= @card_terminal.id %>
        </span>
        <h4 class="title"><%= @card_terminal %></h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: @card_terminal) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= render RebootButtonComponent.new(item: @card_terminal) if (can? :reboot, @card_terminal) %>
        <%= render CardTerminal::PairingButtonComponent
                   .new(card_terminal: @card_terminal) if (can? :manage, @card_terminal) %>
        <%= link_to(raw(%Q[<i class="fa-solid fw fa-info-circle"></i>]),
                    new_duck_terminal_path(
                      identification: @card_terminal.identification,
                      firmware_version: @card_terminal.firmware_version,
                      ip: @card_terminal.ip
                    ),
                    title: t('card_terminals.rmi_info'),
                    class: "btn btn-secondary me-1") if can? :manage, CardTerminal %>
        <%= link_to(raw(%Q[<i class="fa-solid fa-fw fa-list-check"></i>]),
                    test_context_form_card_terminal_path(@card_terminal),
                    title: "Test eines Kontextes",
                    class: 'btn btn-secondary me-1') if @card_terminal.connector.present?
         %>
        <%= render HealthCheckButtonComponent.new(item: @card_terminal) %>
        <%= render AcknowledgeButtonComponent.new(
                     notable: @card_terminal, small: false,
                     readonly: cannot?(:manage, @card_terminal)
                   )
         %>
        <%= edit_link(@card_terminal) %>
        <%= delete_link(@card_terminal) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-xl-10">
        <%= render partial: 'show', locals: { card_terminal: @card_terminal } %>
      </div>
      <div class="col-xl-2 bg-light">
        <div class="mb-3">
          <%= turbo_frame_tag("side_notes", 
                               src: sindex_card_terminal_notes_path(@card_terminal),
                               refresh: "morph") %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= back_link %>

<% unless @card_terminal.deleted_at %>

  <ul class="nav nav-tabs mt-3" id="CardTerminalsTab" role="tablist" data-turbo-permanent>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards-tab-pane" type="button" role="tab" aria-controls="cards-tab-pane" aria-selected="false">Karten</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="twp-tab" data-bs-toggle="tab" data-bs-target="#twp-tab-pane" type="button" role="tab" aria-controls="twp-tab-pane" aria-selected="true">Arbeitsplätze</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="logs-tab" data-bs-toggle="tab" data-bs-target="#logs-tab-pane" type="button" role="tab" aria-controls="logs-tab-pane" aria-selected="true">Logs</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="false">Notizen</button>
    </li>
  </ul>

  <div class="tab-content" id="CardTerminalsTabContent" data-turbo-permanent>
    <div class="tab-pane fade show active" id="cards-tab-pane" role="tabpanel" aria-labelledby="cards-tab" tabindex="0">
      <div class="card my-3">
        <div class="card-header">
          <div class="d-flex w-100">
            <div >
              <h4 class="title"> 
                <%= t('controller.cards') %>
              </h4>
            </div>
          </div>
        </div>
        <div class="m-2">
          <%= render 'cards', cards: @card_terminal.cards.order(:slotid) %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="twp-tab-pane" role="tabpanel" aria-labelledby="twp-tab" tabindex="0">
      <div class="card my-3">
        <div class="card-header">
          <div class="d-flex w-100">
            <div >
              <h4 class="title"> 
                <%= t('controller.workplaces') %>
              </h4>
            </div>
          </div>
        </div>
        <div class="m-2">
          <%= render 'terminal_workplaces', terminal_workplaces: @card_terminal.terminal_workplaces %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="logs-tab-pane" role="tabpanel" aria-labelledby="logs-tab" tabindex="0">
      <%= turbo_frame_tag("logs", src: card_terminal_logs_path(@card_terminal, valid: 1),
                                  refresh: "morph") %>

    </div>
    <div class="tab-pane fade" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab" tabindex="0">
      <%= turbo_frame_tag("notes", 
                          src: polymorphic_path([@card_terminal, :notes], active: 1),
                          refresh: "morph") %>
    </div>
  </div>

<% end %>
