<%= render 'shared/turbo-cache-control' %>

<%= turbo_stream_from @card_terminal %>
<div class="card mb-3" id="<%= dom_id(@card_terminal) %>">
  <div class="card-header">
    <div class="d-flex w-100">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.card_terminal') %>: 
          #<%= @card_terminal.id %>
        </span>
        <h4 class="title"><%= @card_terminal %></h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: @card_terminal) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= edit_link(@card_terminal) %>
        <%= delete_link(@card_terminal) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connector')%>:</th>
            <td><%= link_to(@card_terminal.connector,
                            connector_path(@card_terminal.connector),
                            class: 'primary-link'
                           ) if @card_terminal.connector %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.displayname')%>:</th>
            <td><%= @card_terminal.displayname %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.location')%>:</th>
            <td><%= link_to(@card_terminal.location,
                            location_path(@card_terminal.location),
                            class: 'primary-link'
                           ) if @card_terminal.location %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.room')%>:</th>
            <td><%= @card_terminal.room %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.plugged_in')%>:</th>
            <td><%= @card_terminal.plugged_in %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.contact')%>:</th>
            <td><%= @card_terminal.contact %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.delivery_date')%>:</th>
            <td><%= @card_terminal.delivery_date %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.supplier')%>:</th>
            <td><%= @card_terminal.supplier %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.serial')%>:</th>
            <td><%= @card_terminal.serial %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.id_product')%>:</th>
            <td><%= @card_terminal.id_product %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @card_terminal.description %></td>
          </tr>
        </table>

        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('attributes.status')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connected')%>:</th>
            <td><%= render CardTerminal::ConnectedComponent.new(card_terminal: @card_terminal) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= @card_terminal.condition_message %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.updated_at')%>:</th>
            <td><%= render UpdatedAtComponent.new(item: @card_terminal) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_ok')%>:</th>
            <td>
              <%= render IsCurrentComponent.new(item: @card_terminal, attr: :last_ok) %>
              <% if can? :update, @card_terminal %>
                <%= button_to "Reset", @card_terminal,
                      method: 'patch',
                      class: 'btn btn-sm btn-warning ms-3',
                      params: {card_terminal: { last_ok: ''}}
                 %>
              <% end %>
            </td>
          </tr>
        </table>

      </div>
      <div class="col-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.card_terminal_data')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connector')%>:</th>
            <td><%= @card_terminal.connector %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= @card_terminal.name %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ct_id')%>:</th>
            <td><%= @card_terminal.ct_id %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.mac')%>:</th>
            <td><%= @card_terminal.mac %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ip')%>:</th>
            <td><%= @card_terminal.ip %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.network')%>:</th>
            <td><%= @card_terminal.network %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.slots')%>:</th>
            <td><%= @card_terminal.slots %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.firmware_version')%>:</th>
            <td><%= @card_terminal.firmware_version %></td>
          </tr>

        </table>

        <div class="card-title border-bottom bg-light mt-2 pt-2 ps-2">
          <h6><%= t('attributes.product_information')%></h6>
        </div>
        <pre>
<%= @card_terminal.product_information&.to_s %>
        </pre>
      </div>
    </div>
    <% if @card_terminal.is_accessible? %>
      <div data-turbo-permanent>
        <%= turbo_frame_tag "card_terminal_#{@card_terminal.id}_ping",
                            src: ping_card_terminal_path(@card_terminal),
                            refresh: "morph" do %>
          <%= image_tag 'process-working.png' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= back_link %>

<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.cards') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2">
    <%= render 'cards', cards: @card_terminal.cards.order(:slotid) %>
  </div>
</div>

<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.workplaces') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2" data-turbo-permanent>
    <%= render 'terminal_workplaces', terminal_workplaces: @card_terminal.terminal_workplaces %>
  </div>
</div>

<%= turbo_frame_tag("logs", src: card_terminal_logs_path(@card_terminal, valid: 1),
                            refresh: "morph") %>

