<%= turbo_frame_tag "card_terminals" do %>
 <div class="table-responsive">
 <% if @card_terminals.size > 0 %>
  <%= content_tag :table,
        id: "card_terminals_table",
        class: "table tablesm mb-0" do %>
    <thead>
      <tr class="">
        <th class="text-center"><%= t('attributes.condition') %></th>
        <th><%= t('attributes.location') %></th>
        <th><%= t('attributes.displayname') %></th>
        <th><%= t('attributes.connector') %></th>
        <th><%= t('attributes.condition_message') %></th>
        <th class="text-center"><%= t('attributes.last_ok') %></th>
        <th class="nosort text-end"><%= t('cocard.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @card_terminals.each do |card_terminal| %>
        <%= content_tag(:tr, id: dom_id(card_terminal), class: dom_class(card_terminal)) do %>
          <td class="text-center">
            <%= render ConditionIconComponent.new(item: card_terminal, small: true) %>
          </td>
          <td><%= card_terminal.location&.lid %></td>
          <td><%= link_to(
                    card_terminal.displayname,
                    card_terminal_path(card_terminal),
                    data: { "turbo-frame" => "_top", "turbo-prefetch" => true },
                    class: "primary-link") %></td>
          <td><%= link_to(
                    card_terminal.connector&.name,
                    connector_path(card_terminal.connector),
                    data: { "turbo-frame" => "_top", "turbo-prefetch" => true },
                    class: "primary-link") unless card_terminal.connector.nil? %></td>
          <td><%= card_terminal.condition_message %></td>
          <td><%= render IsCurrentComponent.new(item: card_terminal, attr: :last_ok,
                                                relative: true)%></td>
          <td class="text-end text-nowrap">
              <%= show_link card_terminal,
                            class: 'btn btn-sm btn-outline-secondary me-1',
                            data: { "turbo" => false } %>
              <%= render AcknowledgeButtonComponent.new(
                           notable: card_terminal,
                           readonly: cannot?(:manage, card_terminal)
                         )
               %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="mt-3 ms-3">
      <%== @pagy.series_nav(:bootstrap) %>
    </div>
  <% end %>
 <% end %>
 </div>
<% end %>
