<div id="<%= dom_id connector %>">
  <p>
    <strong>Name:</strong>
    <%= connector.name %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= connector.ip %>
  </p>

  <p>
    <strong>Sds url:</strong>
    <%= connector.sds_url %>
  </p>

  <p>
    <strong>Manual update:</strong>
    <%= connector.manual_update %>
  </p>

</div>
