<%= link_to connector_path(connector), class: 'list-group-item' do %>
  <div>
    <span class="subtitle">
      <%= t('activerecord.models.connector') %>:
      #<%= connector.id %>
    </span>
  </div>
  <div  class="row">
    <div class="col-3"><%= connector.name %></div>
    <div class="col-3"><%= connector.ip %></div>
    <div class="col-6"><%= connector.condition_message %></div>
  </div>
<% end %>

