<%= simple_form_for(@connector) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name,
        hint: "Default: 'TIKONN-<IP-Adresse>'"
       %>
    <%= form.input :ip, as: :string
       %>
    <%= form.input :sds_url,
        hint: "Default: 'http://<ip-adresse>/connector.sds'"
       %>
    <%= form.input :manual_update
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
