<%= simple_form_for(@connector) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name,
        placeholder: "Default: 'TIKONN-<IP-Adresse>'"
       %>
    <%= form.input :short_name
       %>

    <%= form.input :ip, as: :string
       %>
    <%= form.input :admin_url,
        placeholder: "Default: #{Cocard::admin_url}"
       %>
    <%= form.input :sds_url,
        placeholder: "Default: #{Cocard::sds_url}"
       %>
    <%= form.input :description, as: :rich_text_area
       %>
    <%= form.input :location_ids, as: :select, collection: Location.all,
          input_html: { multiple: true }
       %>

    <%= tag_list_input(form) %>

    <%= form.input :manual_update, input_html: { role: 'switch' },
                   wrapper_html: {class: 'form-check form-switch'}
       %>

    <%= form.input :id_contract,
                   input_html: { class: 'bg-protected' }
       %>

    <%= form.input :serial
       %>

    <%= form.input :use_tls, input_html: { role: 'switch' },
                   wrapper_html: {class: 'form-check form-switch'}
       %>

    <div data-controller="toggle-fields">
      <%= form.input :authentication, 
          collection: Connector.authentications
                              .collect {|c| [t(c[0], scope: 'authentications'), c[0]]},
          include_blank: false,
          input_html: {
            class: "form-control",
            data: { "toggle-fields-target": :input, controller: "x" }
          }
       %>

      <div data-toggle-fields-target="hidden" data-value="clientcert">
        <%= form.input :client_certificate_ids, as: :select, 
                       collection: ClientCertificate.all,
                       input_html: { multiple: true }
         %>
      </div>
      <div data-toggle-fields-target="hidden" data-value="basicauth">
        <%= form.input :auth_user %>
        <%= form.input :auth_password, as: :password,
                    placeholder: '************'
         %>
      </div>
    </div>

    <% if @connector.persisted? %>
      <%= render 'nested_connector_contexts_form', f: form %>
    <% end %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
