<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <span class="subtitle">
          <%= t('activerecord.models.connector') %>:
          #<%= @connector.id %>
        </span>
        <h4 class="title"> <%= @connector %> </h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: @connector) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= button_to(t('cocard.fetch_sds'),
                      fetch_sds_connector_path(@connector),
                      class: 'btn btn-warning me-1') if can? :manage, @connector 
         %>
        <% if @connector.manual_update %>
          <%= button_to(t('cocard.get_resource_information'),
                        get_resource_information_connector_path(@connector),
                        class: 'btn btn-warning me-1') if can? :manage, @connector 
           %>
          <%= button_to(t('cocard.get_card_terminals'),
                        get_card_terminals_connector_path(@connector),
                        class: 'btn btn-warning me-1') if can? :manage, @connector 
           %>
          <%= button_to(t('cocard.get_cards'),
                        get_cards_connector_path(@connector),
                        class: 'btn btn-warning me-1') if can? :manage, @connector 
           %>
        <% end %>
        <%= edit_link(@connector) %>
        <%= delete_link(@connector) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <table class="table table-sm table-borderless">

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= @connector.name %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.ip')%>:</th>
            <td><%= @connector.ip %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.admin_url')%>:</th>
            <td><%= link_to nil, @connector.admin_url %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.sds_url')%>:</th>
            <td><%= @connector.sds_url %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.sds_updated_at')%>:</th>
            <td><%= @connector.sds_updated_at&.localtime %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.manual_update')%>:</th>
            <td>
              <%= Cocard::States::flag(Cocard::States::WARNING) if @connector.manual_update %>
              <%= @connector.manual_update %>
            </td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.locations')%>:</th>
            <td><%= @connector.locations.map(&:to_s).join('; ') %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @connector.description %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.firmware_version')%>:</th>
            <td><%= @connector.firmware_version %></td>
          </tr>
          <% if @current_user and @current_user.is_admin? %>
            <tr>
              <th class="w-25 pe-3"><%= t('attributes.id_contract')%>:</th>
              <td><%= @connector.id_contract %></td>
            </tr>
          <% end %>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.serial')%>:</th>
            <td><%= @connector.serial %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.authentication')%>:</th>
            <td><%= t(@connector.authentication, scope: :authentications) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.use_tls')%>:</th>
            <td><%= render BooleanComponent.new(value: @connector.use_tls,
                                                text: :text) %></td>
          </tr>
        </table>
      </div>

      <div class="col-6">
        <div class="card-title border-bottom bg-light mt-2 pt-2 ps-2">
          <h6><%= t('attributes.product_information')%></h6>
        </div>
        <pre>
<%= @connector.product_information&.to_s %>
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('attributes.status')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_check')%>:</th>
            <td>
              <%= render IsCurrentComponent.new(item: @connector, attr: :last_check) %>
            </td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_check_ok')%>:</th>
            <td>
              <%= render IsCurrentComponent.new(item: @connector, attr: :last_check_ok) %>
            </td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.vpnti_online')%>:</th>
            <td><%= render BooleanComponent.new(value: @connector.vpnti_online,
                                                text: :unicode) %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.soap_request_success')%>:</th>
            <td><%= render BooleanComponent.new(value: @connector.soap_request_success,
                                                text: :unicode) %></td>
          </tr>

          <tr>
            <th class="w-25 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= @connector.condition_message %></td>
          </tr>

        </table>
      </div>

      <div class="col-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.assigned_contexts')%></h6>
        </div>
        <div id="list_contexts">
          <%= render partial: 'connector_contexts/list',
                     locals: { connector: @connector }%>
        </div>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag "connector_#{@connector.id}_ping", 
                          src: ping_connector_path(@connector) do %>
        <%= image_tag 'process-working.png' %>
      <% end %>
    </div>
  </div>
</div>

<%= back_link %>
<%= new_link Connector %>


<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.card_terminals') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2">
    <%= render 'card_terminals/list', card_terminals: @connector.card_terminals %>
  </div>
</div>

<%= turbo_frame_tag("logs", src: connector_logs_path(@connector)) %>

