<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <span class="subtitle">
          <%= t('activerecord.models.connector') %>: 
          #<%= @connector.id %>
        </span>
        <h4 class="title"> <%= @connector %> </h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: @connector) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <%= button_to(t('mirco.fetch_sds'),
                      fetch_sds_connector_path(@connector),
                      class: 'btn btn-warning me-1') if can? :manage, @connector %>
        <%= edit_link(@connector) %>
        <%= delete_link(@connector) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <table class="table table-sm table-borderless">
        
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= @connector.name %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.ip')%>:</th>
            <td><%= @connector.ip %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.sds_url')%>:</th>
            <td><%= @connector.sds_url %></td>
          </tr>

          <tr>
            <th class="w-10 pe-3"><%= t('attributes.manual_update')%>:</th>
            <td><%= @connector.manual_update %></td>
          </tr>
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.locations')%>:</th>
            <td><%= @connector.locations.map(&:to_s).join('; ') %></td>
          </tr>
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= @connector.description %></td>
          </tr>
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.last_check')%>:</th>
            <td><%= @connector.last_check&.localtime %></td>
          </tr>
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.last_check_ok')%>:</th>
            <td><%= @connector.last_check_ok&.localtime %></td>
          </tr>
          <tr>
            <th class="w-10 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= @connector.condition_message %></td>
          </tr>
        </table>
      </div>
      <div class="col-6">
        <b>ProductInformation:</b>
        <pre>
<%= @connector.product_information&.to_s %>
        </pre>
      </div>

    </div>
  </div>
</div>

<%= back_link %>
<%= new_link Connector %>
