<%= turbo_frame_tag("connectors") do %>
 <% if @connectors.size > 0 %>
  <%= content_tag :table,
        id: "connectors_table",
        class: "table tablesm mb-0" do %>
    <thead>
      <tr class="">
            <th class="text-center"><%= t('attributes.condition') %></th>
            <th><%= t('attributes.name') %></th>
            <th><%= t('attributes.condition_message') %></th>
            <th class="text-center"><%= t('attributes.last_check') %></th>
            <th class="text-center"><%= t('attributes.last_check_ok') %></th>
      </tr>
    </thead>
    <tbody>
      <% @connectors.each do |connector| %>
        <%= content_tag(:tr, id: dom_id(connector), class: dom_class(connector)) do %>
          <td class="text-center">
            <%= render ConditionIconComponent.new(item: connector, small: true) %>
          </td>
          <td><%= link_to(
                    connector.name, 
                    connector_path(connector), 
                    data: { "turbo-frame" => "_top" },
                    class: "primary-link") %></td>
          <td><%= connector.condition_message %></td>
          <td><%= connector.last_check&.localtime %></td>
          <td><%= connector.last_check_ok&.localtime %></td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="mt-3 ms-3">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
 <% end %>
<% end %>
