<%= link_to workplace_path(workplace), class: 'list-group-item list-group-item-action' do %>
  <div>
    <span class="subtitle">
      <%= t('activerecord.models.workplace') %>:
      #<%= workplace.id %>
    </span>
  </div>
  <div  class="row">
    <div class="col-2"><%= workplace.name %></div>
    <div class="col-10"><%= truncate(workplace.description.to_plain_text, length: 300) %></div>
  </div>
<% end %>

