<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.workplace') %>: 
          #<%= @workplace.id %>
        </span>
        <h4 class="title"><%= @workplace %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@workplace) %>
        <%= delete_link(@workplace) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.description')%>:</th>
        <td><%= @workplace.description %></td>
      </tr>
    </table>
  </div>
</div>

<%= back_link %>

<div class="card my-3">
  <div class="card-header">
    <div class="d-flex w-100">
      <div >
        <h4 class="title"> 
          <%= t('controller.card_terminals') %>
        </h4>
      </div>
    </div>
  </div>
  <div class="m-2">
    <%# render 'terminal_workplaces', terminal_workplaces: @workplace.terminal_workplaces %>
    <%= render 'card_terminals/list', 
        card_terminals: @workplace.terminal_workplaces.map{|twp| twp.card_terminal } %>
  </div>
</div>  

