<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.tags') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "tags_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.name') %></th>
            <th class="nosort w-10 text-center"><%= t('cocard.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @tags.each do |tag| %>
        <%= content_tag(:tr, id: dom_id(tag), class: dom_class(tag)) do %>
                <td><%= tag.name %></td>
                <td class="text-nowrap text-center w-10">
            <%= show_link tag %>
            <%= edit_link tag %>
            <%= delete_link tag %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link Tag %>
