<%= render 'shared/turbo-cache-control' %>

<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.tag') %>: 
          #<%= @tag.id %>
        </span>
        <h4 class="title"><%= @tag %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@tag) %>
        <%= delete_link(@tag) %>
      </div>
    </div>
  </div>

</div>

<%= back_link %>
<%= new_link Tag %>

<%= render partial: 'tags/taggings', locals: { tag: @tag } %>

