<div id="<%= dom_id context %>">
  <p>
    <strong>Mandant:</strong>
    <%= context.mandant %>
  </p>

  <p>
    <strong>Client system:</strong>
    <%= context.client_system %>
  </p>

  <p>
    <strong>Workplace:</strong>
    <%= context.workplace %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= context.description %>
  </p>

</div>
