<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.contexts') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "contexts_table",
        class: "table table-bordered table-responsive",
        data: {
          'datatables-target': 'datatable',
          order: [[0, 'asc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.mandant') %></th>
            <th><%= t('attributes.client_system') %></th>
            <th><%= t('attributes.workplace') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('cocard.cards_count') %></th>
            <th><%= t('cocard.connectors_count') %></th>
            <th class="nosort"><%= t('cocard.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% @contexts.each do |context| %>
        <%= content_tag(:tr, id: dom_id(context), class: dom_class(context)) do %>
                <td><%= context.mandant %></td>
                <td><%= context.client_system %></td>
                <td><%= context.workplace %></td>
                <td><%= context.description %></td>
                <td><%= context.cards.count %></td>
                <td><%= context.connectors.count %></td>
                <td class="text-nowrap">
            <%= show_link context %>
            <%= edit_link context %>
            <%= delete_link context %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= if can? :create, Context
    link_to t('cocard.new_context'), new_context_path, class: 'btn btn-primary'
  end %>
