<%= simple_form_for(@card) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name
       %>
    <%= form.input :description, as: :rich_text_area
       %>

    <%= form.input :private_information, as: :rich_text_area,
                   input_html: { class: 'bg-protected' }
       %>

     <hr/>
    <div class="card-title">
      <h6><%= t('cocard.administrativa')%></h6>
    </div>

    <%= form.association :location
       %>
    <%= form.association :operational_state
       %>
    <%= form.association :context,
        hint: t('hint_context', scope: 'form.card')
       %>
    <%= form.input :lanr
     %>
    <%= form.input :bsnr
       %>
    <%= form.input :fachrichtung
       %>
    <%= form.input :telematikid
       %>

    <hr/>
    <div class="card-title">
      <h6><%= t('cocard.card_data')%></h6>
    </div>
    <div class="alert alert-warning" role="alert">
      <%= t('cocard.new_card_manual_warning') %>
    </div>

    <%= form.input :iccsn
       %>
    <%= form.input :card_type
       %>
    <%= form.input :card_holder_name
       %>
    <%= form.association :card_terminal,
          label_method: :to_s
       %>
    <%= form.input :slotid
       %>

    <% if !@card.persisted? or (@card.certificate.blank? and @card.card_type == "SMC-B") %>
      <hr/>
      <div class="card-title">
        <h6><%= t('cocard.certificate_data') %></h6>
      </div>
      <%= form.input :expiration_date, html5: true, wrapper: :horizontal_date %>
      <%= form.input :cert_subject_title %>
      <%= form.input :cert_subject_sn %>
      <%= form.input :cert_subject_givenname %>
      <%= form.input :cert_subject_street %>
      <%= form.input :cert_subject_postalcode %>
      <%= form.input :cert_subject_l %>
      <%= form.input :cert_subject_cn %>
      <%= form.input :cert_subject_o %>
 
    <% end %>

    <hr/>
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
