<%= simple_form_for(@card) do |form| %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-input">
    <%= form.input :name
       %>
    <%= form.input :description, as: :rich_text_area
       %>

     <hr/>
    <div class="card-title">
      <h6><%= t('cocard.administrativa')%></h6>
    </div>

    <%= form.association :location
       %>
    <%= form.association :operational_state
       %>
    <%= form.association :context
       %>
    <%= form.input :lanr
     %>
    <%= form.input :bsnr
       %>
    <%= form.input :fachrichtung
       %>
    <%= form.input :telematikid
       %>

    <hr/>
    <div class="card-title">
      <h6><%= t('cocard.card_data')%></h6>
    </div>
    <div class="alert alert-warning" role="alert">
      <%= t('cocard.new_card_manual_warning') %>
    </div>

    <%= form.input :iccsn,
          input_html: { disabled: @card.persisted? }
       %>
    <%= form.input :card_type
       %>
    <%= form.input :card_holder_name
       %>
    <%= form.association :card_terminal,
          label_method: :to_s
       %>
    <%= form.input :slotid
       %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
