<div class="card mb-3" id="<%= dom_id(card) %>">
  <div class="card-header">
    <div class="d-flex w-100">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.card') %>: 
          #<%= card.id %>
        </span>
        <h4 class="title"><%= card.card_type %>: <%= card %></h4>
      </div>
      <div class="ms-3 pt-3">
        <%= render ConditionIconComponent.new(item: card) %>
      </div>
      <div role="toolbar" class="ms-auto pt-3">
        <% if can?(:get_certificate, card) %>
          <%= render Card::GetCertificateButtonComponent.new(card: card) %>
        <% end %>
        <%= render AcknowledgeButtonComponent.new(
                     notable: @card, small: false,
                     readonly: cannot?(:manage, @card)
                   )
         %>
        <%= copy_link(card) %>
        <%= edit_link(card) %>
        <%= delete_link(card) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-6">
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.connector')%>:</th>
            <td>
              <%= render ConditionIconComponent.new(
                           item: card.card_terminal&.connector,
                           small: true) %>
              <%= render LinkToComponent.new(item: card.card_terminal&.connector) %>
            </td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.card_terminal')%>:</th>
            <td>
              <%= render ConditionIconComponent.new(
                           item: card.card_terminal,
                           small: true) %>
              <%= render LinkToComponent.new(item: card.card_terminal) %>
              <% if can? :update, card and card.card_terminal_slot_id.present? %> 
                <%= button_to "Reset", card,
                      method: 'patch',
                      class: 'btn btn-sm btn-warning ms-3',
                      title: t('cards.reset_card_terminal'),
                      form: {
                        data: {
                          "turbo-confirm": t('cards.reset_card_terminal') + '?'
                        }
                      },
                      params: {card: { card_terminal_slot_id: nil}}
                 %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.name')%>:</th>
            <td><%= card.name %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.description')%>:</th>
            <td><%= card.description %></td>
          </tr>
          <% if can?(:read, card, :private_information) %>
            <tr>
              <th class="w-25 pe-3"><%= t('attributes.private_information')%>:</th>
              <td>
                <%= content_tag :span,
                  "data-controller": "show-secret",
                  "data-show-secret-secret-value": card.private_information do %>
                  <span data-show-secret-target="content">
                    <%= '**********' if card.private_information.present? %>
                  </span>
                  <i class="fa-solid fa-eye"
                    data-action="click->show-secret#toggleSecret"
                    data-show-secret-target="icon"></i>
                <% end if card.private_information.present? %>
              </td>
            </tr>
            <tr>
              <th class="w-25 pe-3"><%= t('controller.tags')%>:</th>
              <td>
                <%= render TagListComponent.new(item: @card) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.card_data')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.card_handle')%>:</th>
            <td><%= card.card_handle %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.card_type')%>:</th>
            <td><%= card.card_type %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.iccsn')%>:</th>
            <td><%= card.iccsn %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.slotid')%>:</th>
            <td><%= card.slotid %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.insert_time')%>:</th>
            <td><%= card.insert_time&.localtime %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.card_holder_name')%>:</th>
            <td><%= card.card_holder_name %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.expiration_date')%>:</th>
            <td><%= render ExpirationDateComponent.new(item: card) %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.object_system_version')%>:</th>
            <td><%= render CheckValueComponent.new(
                      value: card.object_system_version,
                      condition: card.object_system_version < "4.4.0",
                      message: "Karte ist RSA-only (kein ECC verfügbar)",
                      render: card.object_system_version.presence)
                %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('attributes.status')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.condition')%>:</th>
            <td><%= card.condition_message %></td>
          </tr>
          <% if card.card_type == 'SMC-B' %>
            <tr>
              <th class="w-25 pe-3"><%= t('attributes.pin_status')%>:</th>
              <td><%= render Card::PinStatusComponent.new(card: card) %></td>
            </tr>
          <% end %>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_check')%>:</th>
            <td><%= render IsCurrentComponent.new(item: card, attr: :last_check) %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.last_ok')%>:</th>
            <td><%= render IsCurrentComponent.new(item: card, attr: :last_ok) %></td>
          </tr>
        </table>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.assigned_contexts')%></h6>
        </div>
        <div id="list_contexts">
          <%= render partial: 'cards/contexts/list',
                     locals: { card: card }%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.administrativa')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.location')%>:</th>
            <td><%= link_to(card.location, polymorphic_path(card.location),
                                            class: 'primary-link'
                            ) if card.location %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.operational_state')%>:</th>
            <td><%= card.operational_state %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.bsnr')%>:</th>
            <td><%= card.bsnr %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.lanr')%>:</th>
            <td><%= card.lanr %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.fachrichtung')%>:</th>
            <td><%= card.fachrichtung %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.telematikid')%>:</th>
            <td><%= card.telematikid %></td>
          </tr>
        </table>
      </div>

      <div class="col-12 col-lg-6">
       <% if card.card_type == 'SMC-B' %>
        <div class="card-title border-bottom bg-light pt-2 ps-2">
          <h6><%= t('cocard.certificate_data')%></h6>
        </div>
        <table class="table table-sm table-borderless">
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_cn')%>:</th>
            <td><%= card.cert_subject_cn %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_title')%>:</th>
            <td><%= card.cert_subject_title %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_sn')%>:</th>
            <td><%= card.cert_subject_sn %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_givenname')%>:</th>
            <td><%= card.cert_subject_givenname %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_street')%>:</th>
            <td><%= card.cert_subject_street %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_postalcode')%>:</th>
            <td><%= card.cert_subject_postalcode %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_l')%>:</th>
            <td><%= card.cert_subject_l %></td>
          </tr>
          <tr>
            <th class="w-25 pe-3"><%= t('attributes.cert_subject_o')%>:</th>
            <td><%= card.cert_subject_o %></td>
          </tr>
        </table>
       <% end %>
      </div>
    </div>
  </div>
</div>
