<%= turbo_frame_tag('kt_proxies') do %>
  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="me-4 pt-1"><%= t('controller.kt_proxies')%></h4>
        </div>
        <div role="toolbar" class="pt-0">
          <%= render TIClient::FetchButtonComponent.new(ti_client: @ti_client) if can?(:manage, @ti_client)
           %>
          <%= link_to "cardterminal_proxies.json",
                      ti_client_kt_proxies_path(@ti_client, format: :json),
                      data: { "turbo-frame": "_top" },
                      class: "btn btn-outline-secondary"
           %>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div data-controller="datatables">
        <%= content_tag :table, role: :datatable,
              id: "kt_proxies_table",
              class: "table table-sm table-responsive-xl",
              data: {
                'datatables-target': 'datatable',
                order: [[0, 'asc']].to_json
              } do %>
          <thead>
            <tr>
                  <th><%= t('attributes.card_terminal') %></th>
                  <th class="nosort notvisible">Health</th>
                  <th class="text-center"><%= t('attributes.condition') %></th>
                  <th><%= t('attributes.condition_message') %></th>
                  <th><%= t('attributes.uuid') %></th>
                  <th><%= t('attributes.name') %></th>
                  <th><%= t('attributes.card_terminal_ip') %></th>
                  <th class="text-center"><%= t('attributes.card_terminal_port') %></th>
                  <th><%= t('attributes.incoming_ip') %></th>
                  <th class="text-center"><%= t('attributes.incoming_port') %></th>
                  <th><%= t('attributes.outgoing_ip') %></th>
                  <th class="text-center"><%= t('attributes.outgoing_port') %></th>
                  <th><%= t('attributes.wireguard_ip') %></th>
                  <th class="nosort"><%= t('cocard.action') %></th>
            </tr>
          </thead>
          <tfoot class="search">
            <tr>
                  <th></th>
                  <th class="nosearch"></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th class="nosearch"></th>
            </tr>
          </tfoot>
          <tbody>
            <% kt_proxies.each do |kt_proxy| %>
              <%= content_tag(:tr, id: dom_id(kt_proxy), 
                                class: if kt_proxy.card_terminal.nil?
                                         "#{dom_class(kt_proxy)} bg-CRITICAL"
                                       else
                                         "#{dom_class(kt_proxy)}"
                                       end
                             ) do %>
                <td><%= link_to(kt_proxy.card_terminal,
                                kt_proxy.card_terminal,
                                data: { "turbo-frame": "_top" },
                                class: 'primary-link') if kt_proxy.card_terminal.present?
                     %></td>
                <td>
                  <%= render HealthCheckButtonComponent.new(item: kt_proxy.card_terminal,
                                                            variant: :small) %>
                </td>
                <td class="text-center">
                  <%= render ConditionIconComponent.new(item: kt_proxy.card_terminal, 
                                                        as_text: true,
                                                        small: true) %>

                </td>
                <td><%= kt_proxy.card_terminal&.condition_message %></td>
                <td><%= render LinkToComponent.new(item: kt_proxy, label_method: :uuid) %></td>
                <td><%= kt_proxy.name %></td>
                <td><%= kt_proxy.card_terminal_ip %></td>
                <td class="text-center"><%= kt_proxy.card_terminal_port %></td>
                <td><%= kt_proxy.incoming_ip %></td>
                <td class="text-center"><%= kt_proxy.incoming_port %></td>
                <td><%= kt_proxy.outgoing_ip %></td>
                <td class="text-center"><%= kt_proxy.outgoing_port %></td>
                <td><%= kt_proxy.wireguard_ip %></td>
                <td class="text-nowrap">
                  <%= show_link kt_proxy, data: { "turbo-frame" => "_top" } %>
                  <%= edit_link kt_proxy, data: { "turbo-frame" => "_top" } %>
                  <%= delete_link kt_proxy %>
                </td>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
