<div id="<%= dom_id log %>">
  <p>
    <strong>Loggable:</strong>
    <%= log.loggable_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= log.action %>
  </p>

  <p>
    <strong>Last seen:</strong>
    <%= log.last_seen %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= log.level %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= log.message %>
  </p>

</div>
