<%# render 'shared/turbo-cache-control' %>

<h1><%= @title %></h1>

<%= turbo_frame_tag('logs') do %>
  <div data-controller="datatables">
    <%= content_tag :table, role: :datatable,
          id: "logs_table",
          class: "table table-bordered table-responsive-xl",
          data: {
            'datatables-target': 'datatable',
            order: [[0, 'desc']].to_json
          } do %>
      <thead>
        <tr>
              <th class=""><%= t('attributes.since') %></th>
              <th><%= t('attributes.level') %></th>
              <th><%= t('attributes.loggable_type') %></th>
              <th><%= t('attributes.loggable') %></th>
              <th><%= t('attributes.action') %></th>
              <th><%= t('attributes.message') %></th>
              <th class="text-center"><%= t('attributes.is_valid') %></th>
              <th class="notvisible"><%= t('attributes.condition') %></th>
              <th><%= t('attributes.last_seen') %></th>
              <th class="nosort"><%= t('cocard.action') %></th>
        </tr>
      </thead>
      <tfoot class="search">
        <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="nosearch"></th>
        </tr>
      </tfoot>
      <tbody>
        <% @logs.each do |log| %>
          <%= content_tag(:tr, id: dom_id(log), class: "#{'invalid' unless log.is_valid}") do %>
            <td><%= log.since&.localtime.to_s %></td>
            <td><%= render ErrorLevelBadgeComponent.new(level: log.level) %></td>
            <td><%= log.loggable_type %></td>
            <td>
              <%= link_to log.loggable,
                          polymorphic_path(log.loggable),
                          class: 'primary-link',
                          data: { 'turbo-frame' => '_top' }
               %>
            </td>
            <td><%= log.action %></td>
            <td><%= log.message %></td>
            <td class="text-center"><%= render BooleanComponent.new(value: log.is_valid, text: :unicode) %></td>
            <td><%= render ConditionIconComponent.new(item: log,
                                      small: true, as_text: true ) %></td>
            <td><%= render IsCurrentComponent.new(item: log, attr: :last_seen,
                                                  relative: true)%></td>
            <td class="text-nowrap">
              <%= show_link log, class: 'btn btn-secondary',
                                 data: { "turbo-frame" => "_top" } %>
              <%= delete_link log %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </div>
<% end %>

<br />

<%= back_link %>
<% if params[:outdated] %>
        <%= button_to(t('logs.delete_outdated'),
                      delete_outdated_logs_path(),
                      method: :delete,
                      form: {
                        data: {
                          "turbo-frame": "logs",
                          "turbo-confirm": t('logs.delete_outdated') + '?'
                        }
                      },
                      class: 'btn btn-warning me-1') if current_user.is_admin?
         %>

<% end %>
