<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle">
          <%= t('activerecord.models.log') %>: 
          #<%= @log.id %>
        </span>
        <h4 class="title"><%= @log %></h4>
      </div>
      <div role="toolbar" class="text-nowrap pt-3">
        <%= render InvalidateButtonComponent.new(
                     item: @log, small: false,
                     readonly: cannot?(:manage, @log.loggable)
                   )
         %>

        <%= render AcknowledgeButtonComponent.new(
                     notable: @log, small: false,
                     readonly: cannot?(:manage, @log.loggable)
                   )
         %>

        <%= delete_link(@log) %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-10 pe-3"><%= t('attributes.loggable')%>:</th>
        <td><%= @log.loggable %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.action')%>:</th>
        <td><%= @log.action %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.is_valid')%>:</th>
        <td><%= @log.is_valid %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.condition')%>:</th>
        <td><%= render ConditionIconComponent.new(item: @log,
                                 small: true, as_text: true ) %></td>

      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.since')%>:</th>
        <td><%= @log.since&.localtime&.to_s %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.last_seen')%>:</th>
        <td><%= @log.last_seen&.localtime&.to_s %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.level')%>:</th>
        <td><%= @log.level %></td>
      </tr>

      <tr>
        <th class="w-10 pe-3"><%= t('attributes.message')%>:</th>
        <td><%= @log.message %></td>
      </tr>
    </table>
  </div>
</div>

<%= back_link %>

<%= turbo_frame_tag("notes", src: log_notes_path(@log, active: 1),
                            refresh: "morph") %>
