<%= turbo_stream_from :ti_lagebild %>

<h1>TI-Status</h1>

<%= turbo_frame_tag 'ti_lagebild_failed', refresh: 'morph' do %>
  <% @failures.each do |fail,count| %>
    <%= render partial: 'failure', 
               locals: { pdt: fail[0], tid: fail[1], count: count, 
                         product: SinglePicture.failed.where(tid: fail[1], pdt: fail[0])
                                  .first&.product } %>
  <% end %>
  <% if @failures.empty? %>
  <div>
    Keine Störung vorhanden
  </div>
  <% end %>
<% end %>

<br />
<%= link_to t('controller.situation_picture'),
            situation_picture_path, 
            class: "btn btn-secondary me-3" %>
<%= link_to 'Gematik: Lagebild der TI (externer Link)', 
            'https://ti-lage.prod.ccs.gematik.solutions/',
            class: 'btn btn-outline-info me-3' %>
<%= link_to 'Gematik: Fachportal TI-Status (externer Link)',
            'https://fachportal.gematik.de/ti-status',
            class: 'btn btn-outline-info me-3' %>
